dist
django_easygeoip.egg-info
# Makefile tokens

python.mk
.checkpoint/

#node and bower compoments
node_modules/
bower_components/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.zip

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
.DS_Store

# Sphinx documentation
docs/_build/

*.egg-info

# Autoenv
.env

# Vim
.*.sw[po]

# Nose
.noseids

# tmp folder
tmp/

doacao.db

.sass-cache/
layouts/.sass-cache/

.elasticbeanstalk/
.DS_Store

venv/

# pyenv
.python-version

# PyCharm
.idea/

# Redis stuff
*.rdb

# Nohup
nohup.out

